{% include 'header.html' %}

<div class="container">
     <div class="card p-3">
          <div class="row">
               <div class="col-6">
                    <div class="p-4">
                         <h3>
                              <p class="fw-bold d-inline">Name:</p> Meet Patel
                         </h3>
                         <h3>
                              <p class="fw-bold d-inline">Email:</p> meet@test.com
                         </h3>
                         <h3>
                              <p class="fw-bold d-inline">Address:</p> Lorem ipsum dolor sit.
                         </h3>
                    </div>
                    <div></div>
                    <div></div>
               </div>
               <div class="col-6 p-3 d-flex justify-content-center">
                    <img src="/static/images/location1.jpg" height="500" alt="">
               </div>
          </div>
     </div>
</div>

{% include 'footer.html' %}